<div class="container-lg px-4" style="margin-top:100px;">
  <div class="row" *ngIf="products.length">
    <div class="col-md-3 box-shadow mb-4" *ngFor="let product of products">
      <div class="p-3 card border bg-light h-100">
        <div class="card-header">
          <h6 class="my-0 font-weight-normal">{{ product.Name }}</h6>
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
          <img class="img-fluid mb-3" [src]="'assets/img/' + product.Photo" [alt]="product.Name">
          <ul class="list-unstyled mt-3 mb-3">
            <li><strong>${{ product.Price }}</strong></li>
            <li class="text-muted">{{ product.Category }}</li>
          </ul>
          <button class="btn btn-lg btn-block btn-outline-primary w-100" (click)="viewProduct(product.Id)">
            View
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
